<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Skip if already in public directory
    RewriteCond %{REQUEST_URI} !^/public/

    # Rewrite all requests to public folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
